.autocomplete-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.autocomplete-input {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

@media(min-width: 768px) {
  .autocomplete-group {
    flex-wrap: nowrap;
  }
}
